#man_zone_main {
	height: 445px;
	width: 99%;
	border: 1px solid #B4C9C6;
	margin: 6px 0 0 0;
	background-color:#FFFFFF;
	padding: 5px 0 5px 0;
	overflow: auto;
	text-align:center;
}

#man_zone_main table{
    background-color:#DBE6E3;
}
#man_zone_main table tr{
    background-color:#fff;
}